# For loop | Range Function |

### 1. Write a python script to print a table of 5.

In [1]:
for i in range(1,11):
    print(5,'x',i,'=',5*i)

5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45
5 x 10 = 50

In [2]:
for i in range(1,11):
    print("5 x %d = %d"%(i,i*5))

5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45
5 x 10 = 50

In [5]:
for x in range(5,55,5):     #simple program to print table
    print(x,end=',')

5,10,15,20,25,30,35,40,45,50,

### 2. Write a python script to print a table of user's choice.

In [6]:
x=int(input("Enter the number to print the tables for: "))

for i in range(1,11):
    print(x*i)

Enter the number to print the tables for: 97
97
194
291
388
485
582
679
776
873
970

### 3. Write a python script to print all Armstrong numbers under 1000.

An Armstrong number, also known as narcissistic number, is a number that is equal to the sum of the cubes of its own digits. For example, 371 is an Armstrong number since 371 = 3*3*3 + 7*7*7 + 1*1*1.

In [12]:
s=range(1,1000)
for x in s:
    a=x%10
    y=(x-a)/10
    b=y%10
    c=(y-b)/10
    if (a**3)+(b**3)+(c**3)==x:
        print(x,end=" ")

1 153 370 371 407

### 4. Write a python script to print squares of numbers from a to b. values of a and b are given by user.

In [14]:
a=int(input("Enter lower number "))
b=int(input("Enter upper number "))
for i in range(a,b):
    print(i**2)

Enter lower number 1
Enter upper number 15
1
4
9
16
25
36
49
64
81
100
121
144
169
196

### 5. Write a python script to print a sequence of number with given step size and boundary values. For example boundary values are 10 and 30, step is 2 then your output should be 10,12,14,16,18,20,22,24,26,28,30

In [17]:
a=int(input("Enter lower boundary value "))
b=int(input("Enter lower boundary value "))
c=int(input("Enter Step Size "))

for x in range(a,b,c):
    print(x)

Enter lower boundary value 10
Enter lower boundary value 30
Enter Step Size 2
10
12
14
16
18
20
22
24
26
28