# Topic: Recursion

The term Recursion can be defined as the process of defining something in terms of itself. In simple words, it is a process in which a function calls itself directly or indirectly.

### Write a recursive function to print first N natural numbers.

In [1]:
def nums(n):
    if 1<=n:
        nums(n-1)
        print(n+1)
nums(10)

2
3
4
5
6
7
8
9
10
11

In [2]:
x=int(input())
n=1
def natural_nums(n):
    if(n<=x):
        print(n,end=" ")
        natural_nums(n + 1)
natural_nums(n)

10
1 2 3 4 5 6 7 8 9 10

### Write a recursive function to print first N natural numbers in reverse order

In [3]:
def reverse_natural_nums(n):
    print(n,end=' ')
    if n==0:
        return 
    
    else:
        reverse_natural_nums(n-1)
   
reverse_natural_nums(10)

10 9 8 7 6 5 4 3 2 1 0

### Write a recursive function to print first N even natural numbers

In [4]:
def even_numbers(n):
    if n>=2:
        
        even_numbers(n-1)
        print(n*2-2,end=' ')
        
even_numbers(10)

2 4 6 8 10 12 14 16 18

In [5]:
x=int(input())
n=2
def even_natural_nums(n):
    if(n<=x):
        print(n,end=" ")
        even_natural_nums(n + 2)
even_natural_nums(n)

25
2 4 6 8 10 12 14 16 18 20 22 24

### Write a recursive function to print first N odd natural numbers in reverse order

In [6]:
def even_numbers(n):
    if n>=2:
        print(n*2-2,end=' ')
        even_numbers(n-1)
even_numbers(10)

18 16 14 12 10 8 6 4 2

In [7]:
def reverse_even_natural_nums(n):
    print(n,end=' ')
    if n==2:
        return 
    else:
        reverse_even_natural_nums(n-2)
   
reverse_even_natural_nums(20)

20 18 16 14 12 10 8 6 4 2

### Write a recursive function to print first N odd natural numbers

In [8]:
x=int(input())
n=1
def odd_natural_nums(n):
    if(n<=x):
        print(n,end=" ")
        even_natural_nums(n + 2)
odd_natural_nums(n)

50
1 3 5 7 9 11 13 15 17 19 21 23 25 27 29 31 33 35 37 39 41 43 45 47 49

In [9]:
def oddNumbers(n):
    if n > 0:
        oddNumbers(n-1)
        print(n * 2 -1 , end=" ")

oddNumbers(5)

1 3 5 7 9

### Write a recursive function to print first N odd natural numbers in reverse order

In [10]:
def oddNumbers (n):
    if n > 0:
        print (n * 2 - 1, end=" ")
        oddNumbers (n-1)

oddNumbers(5)

9 7 5 3 1

In [11]:
def reverse_odd_natural_nums(n):
    print(n,end=' ')
    if n<=1:
        return
    else:
        if n%2==0:
            return
        else:
            reverse_odd_natural_nums(n-2)
reverse_odd_natural_nums(49)

49 47 45 43 41 39 37 35 33 31 29 27 25 23 21 19 17 15 13 11 9 7 5 3 1

### Write a recursive function to print squares of first N natural numbers

In [12]:
x=int(input())
n=1
def natural_nums(n):
    if(n<=x):
        print(n*n,end=" ")
        natural_nums(n + 1)
natural_nums(n)

15
1 4 9 16 25 36 49 64 81 100 121 144 169 196 225

### Write a recursive function to print squares of first N natural numbers in reverse order

In [13]:
def natural_nums(n):
    if 1<=n:
        print(n*n,end=' ')
        natural_nums(n-1)
natural_nums(10)

100 81 64 49 36 25 16 9 4 1

### Write a recursive function to print cubes of first N natural numbers

In [14]:
def cubes_n_nums(n):
    if n>=1:
        cubes_n_nums(n-1)
        print(n**3)
cubes_n_nums(10)

1
8
27
64
125
216
343
512
729
1000

### Write a recursive function to print cubes of first N natural numbers in reverse order

In [15]:
def cubes_n_reverse_nums(n):
    if 1<=n:
        print(n**3,end=' ')
        cubes_n_reverse_nums(n-1)
        
cubes_n_reverse_nums(10)

1000 729 512 343 216 125 64 27 8 1

### sum of first n natural numbers

In [16]:
def sum(n):
    if n==1:                 #Base Case 
        return 1
    else:
        return n+sum(n-1)    #Recursive Case
n=int(input())
sum(n)

10

55

### sum of first n even natural numbers

In [18]:
def sum(n):
    if n==0:                 
        return 0
    else:
        return n*2-2+sum(n-1)    
n=int(input())
sum(n)

5

20

### sum of first n odd natural numbers

In [19]:
def sum(n):
    if n==1:                 
        return 1
    else:
        return n*2-1+sum(n-1)    
n=int(input())
sum(n)

5

25

### sum of squares of first n natural numbers

In [20]:
def sum_squares(n):
    if n==1:                  
        return 1
    else:
        return n**2+sum_squares(n-1)    
sum_squares(5)

55

### Calculate factorial of number

In [21]:
def factorial(n):
    if n==1:
        return n
    else:
        return n*factorial(n-1)
factorial(3)

6

### Find Nth term of a fibonnaci Series

In [22]:
def fib(n):
    if n==1:
        return 0
    elif n==2:
        return 1
    else:
        return fib(n-1) + fib(n-2)
    
fib(10)

34

### Calculate HCF of two  numbers

In [23]:
def hcf(x,y):
    if y==0:
        return x
    else:
        return hcf(y,x%y)
    
hcf(10,15)

5