In [1]:
name = input("Enter Your name : ")
print("Welcome" , name)

Enter Your name : Arihant
Welcome Arihant

In [2]:
 n = int(11)    
for i in range(n):
    print(i*i)
    
print(n)

0
1
4
9
16
25
36
49
64
81
100
11

In [3]:
a=10
b=a*10
print(a,b)

10 100

In [4]:
x = 3.5
print(float(int(x)))

3.0

In [5]:
a = int(input())
b = int(input())

1
2

In [6]:
def countdown(x):
    if x == 0:
        print("Done!")
        return
    else:
        print(x,"...")
        countdown(x-1)
    
    
countdown(4)

4 ...
3 ...
2 ...
1 ...
Done!

In [7]:
def countdown(x):
    if x == 0:
        print("Done!")
        return
    else:
        print(x,"...")
        countdown(x-1)
        print("foo")
    
    
countdown(4)

4 ...
3 ...
2 ...
1 ...
Done!
foo
foo
foo
foo

In [8]:
X = [1,2,3,4,5,6,7,8,9,10]
X[-4:-1]
print(X)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [9]:
X[7:10]
print(X)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [10]:
X[5:10]
print(X)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [11]:
z=2.4864
type(z)

float

In [12]:
int(z)

2

In [13]:
str(z)

'2.4864'

In [14]:
bool(z)

True

In [15]:
float(z)

2.4864

In [16]:
def fib(n):
    a, b = 0, 1
    while a < n:
        print(a, end=' ')
        a, b = b, a+b
    print()
fib(1000)

0 1 1 2 3 5 8 13 21 34 55 89 144 233 377 610 987

In [1]:
x=3
y=2.5
z=5
print(X+y/z)

NameError: name 'X' is not defined

In [2]:
x=3
y=2.5
z=5
print(x+y/z)

3.5

In [3]:
4%(1+ 9)**2 - 60//(7+2)

-2

In [5]:
 a = 4+(8**2)-3**2%1 
a

68

In [6]:
9%4

1

In [7]:
a ='111111111111111111222222222222222222222'
len(a)

39

In [8]:
string = 'mvqugvqhc2ndoi'
len(string)

14

In [9]:
string = 'mvqugvqhc2ndoi'
string[10]

'n'

In [10]:
string[-4]

'n'

In [11]:
word= "I love Python programming"
word[7:13]

'Python'

In [12]:
word[7:12]

'Pytho'

In [13]:
word[-12:-18]

''

In [14]:
word[-18:-12]

'Python'

In [15]:
x = 'len'
x[len(x*2)- 5]

'e'

In [1]:
statement = "Python programming is Fun"
sliced_statement = statement[0:7]
print(sliced_statement)

Python

In [2]:
batch = " 5 girls 3 boys is a class"
girls = batch[ :8]
print(girls)

 5 girls

In [3]:
boys = batch[9:16]
print(boys)

3 boys

In [4]:
print(batch[8:])

 3 boys is a class

In [5]:
string = "john ! Did you attend the class."
print('john' is string)
print('David' is not string)

False
True

In [7]:
string = "john ! Did you attend the class."
print('john' in string)
print('David' not in string)

True
True

In [8]:
string = 'abcd'
print(string*4)

abcdabcdabcdabcd

In [9]:
small = 'i am upper cased'
print(small.upper())

I AM UPPER CASED

In [10]:
large = 'i am lower cased'
print(large.lower())

i am lower cased

In [11]:
some_sentence = "There is a space at the end   "
print(some_sentence)

There is a space at the end

In [14]:
print(some_sentence.rstrip())

There is a space at the end

In [1]:
input_str = 'bmaunmdbraai'
message1 = print(input_str[1:12:2])
message1

mumbai

In [2]:
message2 = print(input_str[0:12:2])
message2

bandra

In [3]:
print(message2, message1)

None None

In [20]:
input_str = 'bmaunmdbraai'

message1=input_str[0:12:2]
message2= input_str[1:12:2]

print(message1,message2)

bandra mumbai

In [21]:
increment = '4%'
print(increment.rstrip('%'))

4

In [23]:
start = "   There is a space at the Start"
print(start)
print(start.lstrip())

   There is a space at the Start
There is a space at the Start

In [24]:
x = "  abc  "
print(x)
print(x.strip())

  abc
abc

In [25]:
string = '*******mumbai03######'
print(string.lstrip('*').rstrip('########'))

mumbai03

In [26]:
string = 'I love breaking bad'
print(string.count('a'))

2

In [27]:
print(string.count('a',-3))

1

In [28]:
age = 20
my_age = "I am (0) years old".format(age)

In [29]:
my_age

'I am (0) years old'

In [30]:
age = 20
my_age = "I am {0} years old".format(age)
my_age

'I am 20 years old'

In [31]:
age = input("Enter Your Age")
my_age = "I am {0} years old".format(age)
my_age

Enter Your Age21

'I am 21 years old'

In [32]:
age = input("Enter Your Age = ")
my_age = "I am {0} years old".format(age)
my_age

Enter Your Age = 22

'I am 22 years old'

In [34]:
A = " Data "
B = " Analysis "
C = " Pandas "

print("{0} {1} using {2}".format(A,B,C))

 Data   Analysis  using  Pandas

In [35]:
help(str)

Help on class str in module builtins:

class str(object)
 |  str(object='') -> str
 |  str(bytes_or_buffer[, encoding[, errors]]) -> str
 |
 |  Create a new string object from the given object. If encoding or
 |  errors is specified, then the object must expose a data buffer
 |  that will be decoded using the given encoding and error handler.
 |  Otherwise, returns the result of object.__str__() (if defined)
 |  or repr(object).
 |  encoding defaults to sys.getdefaultencoding().
 |  errors defaults to 'strict'.
 |
 |  Methods defined here:
 |
 |  __add__(self, value, /)
 |      Return self+value.
 |
 |  __contains__(self, key, /)
 |      Return key in self.
 |
 |  __eq__(self, value, /)
 |      Return self==value.
 |
 |  __format__(self, format_spec, /)
 |      Return a formatted version of the string as described by format_spec.
 |
 |  __ge__(self, value, /)
 |      Return self>=value.
 |
 |  __getattribute__(self, name, /)
 |      Return getattr(self, name).
 |
 |  __getitem__(self, key, /)
 |      Return self[key].
 |
 |  __getnewargs__(...)
 |
 |  __gt__(self, value, /)
 |      Return self>value.
 |
 |  __hash__(self, /)
 |      Return hash(self).
 |
 |  __iter__(self, /)
 |      Implement iter(self).
 |
 |  __le__(self, value, /)
 |      Return self<=value.
 |
 |  __len__(self, /)
 |      Return len(self).
 |
 |  __lt__(self, value, /)
 |      Return self<value.
 |
 |  __mod__(self, value, /)
 |      Return self%value.
 |
 |  __mul__(self, value, /)
 |      Return self*value.
 |
 |  __ne__(self, value, /)
 |      Return self!=value.
 |
 |  __repr__(self, /)
 |      Return repr(self).
 |
 |  __rmod__(self, value, /)
 |      Return value%self.
 |
 |  __rmul__(self, value, /)
 |      Return value*self.
 |
 |  __sizeof__(self, /)
 |      Return the size of the string in memory, in bytes.
 |
 |  __str__(self, /)
 |      Return str(self).
 |
 |  capitalize(self, /)
 |      Return a capitalized version of the string.
 |
 |      More specifically, make the first character have upper case and the rest lower
 |      case.
 |
 |  casefold(self, /)
 |      Return a version of the string suitable for caseless comparisons.
 |
 |  center(self, width, fillchar=' ', /)
 |      Return a centered string of length width.
 |
 |      Padding is done using the specified fill character (default is a space).
 |
 |  count(...)
 |      S.count(sub[, start[, end]]) -> int
 |
 |      Return the number of non-overlapping occurrences of substring sub in
 |      string S[start:end].  Optional arguments start and end are
 |      interpreted as in slice notation.
 |
 |  encode(self, /, encoding='utf-8', errors='strict')
 |      Encode the string using the codec registered for encoding.
 |
 |      encoding
 |        The encoding in which to encode the string.
 |      errors
 |        The error handling scheme to use for encoding errors.
 |        The default is 'strict' meaning that encoding errors raise a
 |        UnicodeEncodeError.  Other possible values are 'ignore', 'replace' and
 |        'xmlcharrefreplace' as well as any other name registered with
 |        codecs.register_error that can handle UnicodeEncodeErrors.
 |
 |  endswith(...)
 |      S.endswith(suffix[, start[, end]]) -> bool
 |
 |      Return True if S ends with the specified suffix, False otherwise.
 |      With optional start, test S beginning at that position.
 |      With optional end, stop comparing S at that position.
 |      suffix can also be a tuple of strings to try.
 |
 |  expandtabs(self, /, tabsize=8)
 |      Return a copy where all tab characters are expanded using spaces.
 |
 |      If tabsize is not given, a tab size of 8 characters is assumed.
 |
 |  find(...)
 |      S.find(sub[, start[, end]]) -> int
 |
 |      Return the lowest index in S where substring sub is found,
 |      such that sub is contained within S[start:end].  Optional
 |      arguments start and end are interpreted as in slice notation.
 |
 |      Return -1 on failure.
 |
 |  format(...)
 |      S.format(*args, **kwargs) -> str
 |
 |      Return a formatted version of S, using substitutions from args and kwargs.
 |      The substitutions are identified by braces ('{' and '}').
 |
 |  format_map(...)
 |      S.format_map(mapping) -> str
 |
 |      Return a formatted version of S, using substitutions from mapping.
 |      The substitutions are identified by braces ('{' and '}').
 |
 |  index(...)
 |      S.index(sub[, start[, end]]) -> int
 |
 |      Return the lowest index in S where substring sub is found,
 |      such that sub is contained within S[start:end].  Optional
 |      arguments start and end are interpreted as in slice notation.
 |
 |      Raises ValueError when the substring is not found.
 |
 |  isalnum(self, /)
 |      Return True if the string is an alpha-numeric string, False otherwise.
 |
 |      A string is alpha-numeric if all characters in the string are alpha-numeric and
 |      there is at least one character in the string.
 |
 |  isalpha(self, /)
 |      Return True if the string is an alphabetic string, False otherwise.
 |
 |      A string is alphabetic if all characters in the string are alphabetic and there
 |      is at least one character in the string.
 |
 |  isascii(self, /)
 |      Return True if all characters in the string are ASCII, False otherwise.
 |
 |      ASCII characters have code points in the range U+0000-U+007F.
 |      Empty string is ASCII too.
 |
 |  isdecimal(self, /)
 |      Return True if the string is a decimal string, False otherwise.
 |
 |      A string is a decimal string if all characters in the string are decimal and
 |      there is at least one character in the string.
 |
 |  isdigit(self, /)
 |      Return True if the string is a digit string, False otherwise.
 |
 |      A string is a digit string if all characters in the string are digits and there
 |      is at least one character in the string.
 |
 |  isidentifier(self, /)
 |      Return True if the string is a valid Python identifier, False otherwise.
 |
 |      Use keyword.iskeyword() to test for reserved identifiers such as "def" and
 |      "class".
 |
 |  islower(self, /)
 |      Return True if the string is a lowercase string, False otherwise.
 |
 |      A string is lowercase if all cased characters in the string are lowercase and
 |      there is at least one cased character in the string.
 |
 |  isnumeric(self, /)
 |      Return True if the string is a numeric string, False otherwise.
 |
 |      A string is numeric if all characters in the string are numeric and there is at
 |      least one character in the string.
 |
 |  isprintable(self, /)
 |      Return True if the string is printable, False otherwise.
 |
 |      A string is printable if all of its characters are considered printable in
 |      repr() or if it is empty.
 |
 |  isspace(self, /)
 |      Return True if the string is a whitespace string, False otherwise.
 |
 |      A string is whitespace if all characters in the string are whitespace and there
 |      is at least one character in the string.
 |
 |  istitle(self, /)
 |      Return True if the string is a title-cased string, False otherwise.
 |
 |      In a title-cased string, upper- and title-case characters may only
 |      follow uncased characters and lowercase characters only cased ones.
 |
 |  isupper(self, /)
 |      Return True if the string is an uppercase string, False otherwise.
 |
 |      A string is uppercase if all cased characters in the string are uppercase and
 |      there is at least one cased character in the string.
 |
 |  join(self, iterable, /)
 |      Concatenate any number of strings.
 |
 |      The string whose method is called is inserted in between each given string.
 |      The result is returned as a new string.
 |
 |      Example: '.'.join(['ab', 'pq', 'rs']) -> 'ab.pq.rs'
 |
 |  ljust(self, width, fillchar=' ', /)
 |      Return a left-justified string of length width.
 |
 |      Padding is done using the specified fill character (default is a space).
 |
 |  lower(self, /)
 |      Return a copy of the string converted to lowercase.
 |
 |  lstrip(self, chars=None, /)
 |      Return a copy of the string with leading whitespace removed.
 |
 |      If chars is given and not None, remove characters in chars instead.
 |
 |  partition(self, sep, /)
 |      Partition the string into three parts using the given separator.
 |
 |      This will search for the separator in the string.  If the separator is found,
 |      returns a 3-tuple containing the part before the separator, the separator
 |      itself, and the part after it.
 |
 |      If the separator is not found, returns a 3-tuple containing the original string
 |      and two empty strings.
 |
 |  replace(self, old, new, count=-1, /)
 |      Return a copy with all occurrences of substring old replaced by new.
 |
 |        count
 |          Maximum number of occurrences to replace.
 |          -1 (the default value) means replace all occurrences.
 |
 |      If the optional argument count is given, only the first count occurrences are
 |      replaced.
 |
 |  rfind(...)
 |      S.rfind(sub[, start[, end]]) -> int
 |
 |      Return the highest index in S where substring sub is found,
 |      such that sub is contained within S[start:end].  Optional
 |      arguments start and end are interpreted as in slice notation.
 |
 |      Return -1 on failure.
 |
 |  rindex(...)
 |      S.rindex(sub[, start[, end]]) -> int
 |
 |      Return the highest index in S where substring sub is found,
 |      such that sub is contained within S[start:end].  Optional
 |      arguments start and end are interpreted as in slice notation.
 |
 |      Raises ValueError when the substring is not found.
 |
 |  rjust(self, width, fillchar=' ', /)
 |      Return a right-justified string of length width.
 |
 |      Padding is done using the specified fill character (default is a space).
 |
 |  rpartition(self, sep, /)
 |      Partition the string into three parts using the given separator.
 |
 |      This will search for the separator in the string, starting at the end. If
 |      the separator is found, returns a 3-tuple containing the part before the
 |      separator, the separator itself, and the part after it.
 |
 |      If the separator is not found, returns a 3-tuple containing two empty strings
 |      and the original string.
 |
 |  rsplit(self, /, sep=None, maxsplit=-1)
 |      Return a list of the words in the string, using sep as the delimiter string.
 |
 |        sep
 |          The delimiter according which to split the string.
 |          None (the default value) means split according to any whitespace,
 |          and discard empty strings from the result.
 |        maxsplit
 |          Maximum number of splits to do.
 |          -1 (the default value) means no limit.
 |
 |      Splits are done starting at the end of the string and working to the front.
 |
 |  rstrip(self, chars=None, /)
 |      Return a copy of the string with trailing whitespace removed.
 |
 |      If chars is given and not None, remove characters in chars instead.
 |
 |  split(self, /, sep=None, maxsplit=-1)
 |      Return a list of the words in the string, using sep as the delimiter string.
 |
 |      sep
 |        The delimiter according which to split the string.
 |        None (the default value) means split according to any whitespace,
 |        and discard empty strings from the result.
 |      maxsplit
 |        Maximum number of splits to do.
 |        -1 (the default value) means no limit.
 |
 |  splitlines(self, /, keepends=False)
 |      Return a list of the lines in the string, breaking at line boundaries.
 |
 |      Line breaks are not included in the resulting list unless keepends is given and
 |      true.
 |
 |  startswith(...)
 |      S.startswith(prefix[, start[, end]]) -> bool
 |
 |      Return True if S starts with the specified prefix, False otherwise.
 |      With optional start, test S beginning at that position.
 |      With optional end, stop comparing S at that position.
 |      prefix can also be a tuple of strings to try.
 |
 |  strip(self, chars=None, /)
 |      Return a copy of the string with leading and trailing whitespace removed.
 |
 |      If chars is given and not None, remove characters in chars instead.
 |
 |  swapcase(self, /)
 |      Convert uppercase characters to lowercase and lowercase characters to uppercase.
 |
 |  title(self, /)
 |      Return a version of the string where each word is titlecased.
 |
 |      More specifically, words start with uppercased characters and all remaining
 |      cased characters have lower case.
 |
 |  translate(self, table, /)
 |      Replace each character in the string using the given translation table.
 |
 |        table
 |          Translation table, which must be a mapping of Unicode ordinals to
 |          Unicode ordinals, strings, or None.
 |
 |      The table must implement lookup/indexing via __getitem__, for instance a
 |      dictionary or list.  If this operation raises LookupError, the character is
 |      left untouched.  Characters mapped to None are deleted.
 |
 |  upper(self, /)
 |      Return a copy of the string converted to uppercase.
 |
 |  zfill(self, width, /)
 |      Pad a numeric string with zeros on the left, to fill a field of the given width.
 |
 |      The string is never truncated.
 |
 |  ----------------------------------------------------------------------
 |  Static methods defined here:
 |
 |  __new__(*args, **kwargs) from builtins.type
 |      Create and return a new object.  See help(type) for accurate signature.
 |
 |  maketrans(x, y=None, z=None, /)
 |      Return a translation table usable for str.translate().
 |
 |      If there is only one argument, it must be a dictionary mapping Unicode
 |      ordinals (integers) or characters to Unicode ordinals, strings or None.
 |      Character keys will be then converted to ordinals.
 |      If there are two arguments, they must be strings of equal length, and
 |      in the resulting dictionary, each character in x will be mapped to the
 |      character at the same position in y. If there is a third argument, it
 |      must be a string, whose characters will be mapped to None in the result.

# Tuples

#A tuple contains a sequence of comma-separated values within parentheses. 
##An important feature of a tuple is immutability, which means the elements of a tuple cannot be altered. 
##It is used to store data such as employee information, which is not allowed to be changed.
############## list is muatble but tuple is immutable
#For example: ('Gupta', 24 , 'Project Manager')

In [39]:
t = ("disco", 5, 4.5)
t

('disco', 5, 4.5)

In [40]:
type(t)

tuple

In [44]:
t = ("mumbai", 46 , "CSk")

t[1]

46

In [45]:
t[0]

'mumbai'

In [46]:
t[-1]

'CSk'

In [47]:
t[0:2]

('mumbai', 46)

In [48]:
t[0:3]

('mumbai', 46, 'CSk')

In [49]:
len(t)

3

In [50]:
tup1= ("This", "is" , "session" , 2)
tup2 = ("on" , "Tuples")

tup3 = tup1+tup2
tup3

('This', 'is', 'session', 2, 'on', 'Tuples')

In [51]:
tuple = (2,3.2,4,5)
sum(tuple)

14.2

In [52]:
min(tuple)

2

In [53]:
max(tuple)

5

In [54]:
x =(1,2,3)
x[2] = 5

TypeError: 'tuple' object does not support item assignment

This would return an error because tuples are immutable, or in other words, 
we cannot modify the elements at a particular index.

In [56]:
t = ("disco", 12, 4.5)
t[0][2]

's'

In [57]:
t = (1, 2, 4, 3) 

print(len(t))

4

In [58]:
print(t[4])

IndexError: tuple index out of range

In [59]:
print(t[1:-4])

()

In [60]:
t = (1,5,"Disco", ("Python", "Java"))
type(t[3])

tuple

In [61]:
t = (1,2,3,4)       #packing
(a,b,c,d) = t       #unpacking

print(a)

1

In [62]:
print(c)

3

In [63]:
t = ()
print(dir(t))

['__add__', '__class__', '__contains__', '__delattr__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__getnewargs__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__mul__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__rmul__', '__setattr__', '__sizeof__', '__str__', '__subclasshook__', 'count', 'index']

# Lists

lists, which are one of the widely used data structures; they offer flexibility in updating, 
deleting, adding operations and much more.Lists are mutable, which means the elements of a list can be changed.

In [64]:
squares = [1, 4, 9, 16, 25] 
squares

[1, 4, 9, 16, 25]

In [65]:
squares[:]

[1, 4, 9, 16, 25]

In [66]:
squares[0]

1

In [67]:
squares[-3]

9

In [68]:
squares[2:]

[9, 16, 25]

In [69]:
squares + [36, 49, 64, 81, 100]

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [71]:
>>> a = ['a', 'b', 'c']
>>> n = [1, 2, 3]
>>> x = [a, n]
>>> x

[['a', 'b', 'c'], [1, 2, 3]]

In [72]:
>>> letters = ['a', 'b', 'c', 'd']
>>> len(letters)

4

In [73]:
x[0]

['a', 'b', 'c']

In [74]:
x[0][1]

'b'

In [75]:
print(16 in squares)

True

In [76]:
letters = ['a', 'b', 'c', 'd', 'e', 'f', 'g']
letters

['a', 'b', 'c', 'd', 'e', 'f', 'g']

In [77]:
letters[1] = 0

In [78]:
letters

['a', 0, 'c', 'd', 'e', 'f', 'g']

In [79]:
letters[2:5] = ['C', 'D', 'E']
letters

['a', 0, 'C', 'D', 'E', 'f', 'g']

In [80]:
# now remove them
>>> letters[2:5] = []
>>> letters

['a', 0, 'f', 'g']

In [81]:
# now remove them
>>> letters[1] = []
>>> letters

['a', [], 'f', 'g']

In [82]:
# now remove them
>>> letters[1:2] = []
>>> letters

['a', 'f', 'g']

In [84]:
# EXTEND

L = ["Chemistry", "Biology", [1989,  2004] ,("Oreily" , "Pearson")]
L.extend([5, 8])
L

['Chemistry', 'Biology', [1989, 2004], ('Oreily', 'Pearson'), 5, 8]

In [85]:
# append()
L = ["Chemistry", "Biology", [1989,  2004], ("Oreily" , "Pearson")]
L.append([5, 8])
L

['Chemistry', 'Biology', [1989, 2004], ('Oreily', 'Pearson'), [5, 8]]

In [86]:
# del command

del L[0]
L

['Biology', [1989, 2004], ('Oreily', 'Pearson'), [5, 8]]

pop(index): Remove and return the item at index (default last)

remove(value): Remove the first occurrence of a value in the list

sort(): Stable sort *IN PLACE*

In [87]:
# pop ()
L.pop()
L

['Biology', [1989, 2004], ('Oreily', 'Pearson')]

In [88]:
L

['Biology', [1989, 2004], ('Oreily', 'Pearson')]

In [90]:
L.remove("Biology")
L

[[1989, 2004], ('Oreily', 'Pearson')]

In [91]:
l = [1 ,4 , 3 ,2]
l.sort()
l

[1, 2, 3, 4]

In [92]:
l.sort(reverse= True)
l

[4, 3, 2, 1]

In [93]:
>>> # Fibonacci series:
... # the sum of two elements defines the next
... a, b = 0, 1
>>> while a < 10:
...     print(a)
...     a, b = b, a+b

0
1
1
2
3
5
8

In [94]:
>>> i = 256*256
>>> print('The value of i is', i)

The value of i is 65536

In [95]:
>>> a, b = 0, 1
>>> while a < 1000:
...     print(a, end=',')
...     a, b = b, a+b

0,1,1,2,3,5,8,13,21,34,55,89,144,233,377,610,987,

In [97]:
A = ["Aruu", "kruu" , "Mauu" , "Bruu"]
B = A.sort()
print(A)
print(B)

['Aruu', 'Bruu', 'Mauu', 'kruu']
None

In [102]:
C = sorted(A)

print(A)
print(C)

['Aruu', 'Bruu', 'Mauu', 'kruu']
['Aruu', 'Bruu', 'Mauu', 'kruu']

# Shallow copying

In [103]:
A = ["Aruu", "kruu" , "Mauu" , "Bruu"]
B = A

A[0] = "Apple"

In [104]:
A

['Apple', 'kruu', 'Mauu', 'Bruu']

In [105]:
B

['Apple', 'kruu', 'Mauu', 'Bruu']

In [106]:
A = ["Aruu", "kruu" , "Mauu" , "Bruu"]
B = A[:]

A[0] = "Apple"

In [107]:
A

['Apple', 'kruu', 'Mauu', 'Bruu']

In [108]:
B

['Aruu', 'kruu', 'Mauu', 'Bruu']

In [113]:
input_tuple = ('Monty Python', 'British', 1969)
input_tuple

('Monty Python', 'British', 1969)

In [115]:
type(input_tuple)

tuple

In [119]:
b = list(input_tuple)
b

['Monty Python', 'British', 1969]

In [135]:
type(b)

list

In [137]:
c = b.extend('python')
c

In [138]:
b

['Monty Python',
 'British',
 1969,
 'python',
 'python',
 'python',
 'python',
 'python',
 'python',
 'python',
 'python',
 'python',
 'p',
 'y',
 't',
 'h',
 'o',
 'n']

In [139]:
c

In [140]:
input_tuple = ('Monty Python', 'British', 1969)
input_tuple

('Monty Python', 'British', 1969)

In [141]:
tuple2 = input_tuple + ('Python',)
tuple2

('Monty Python', 'British', 1969, 'Python')

In [142]:
input_str = 'Kumar_Ravi_003'
input_str

'Kumar_Ravi_003'

In [147]:
first_name = input_str[6:10]
first_name

'Ravi'

In [148]:
second_name = input_str[0:5]
second_name

'Kumar'

In [149]:
customer_code = input_str[-3:]
customer_code

'003'

In [150]:
list_1 = [2, 33, 222, 14, 25]
list_1

[2, 33, 222, 14, 25]

In [151]:
list_1[-5]

2

In [152]:
word = ['1','2','3','4']
word[ : ] = [ ] 
print(word)

[]

In [153]:
L = ['one','two','three', 'four', 'five', 'six']
print(sorted(L))
print (L)

['five', 'four', 'one', 'six', 'three', 'two']
['one', 'two', 'three', 'four', 'five', 'six']

In [154]:
input_list=['SAS', 'R', 'PYTHON', 'SPSS'] 
input_list

['SAS', 'R', 'PYTHON', 'SPSS']

In [155]:
input_list.remove("SPSS")
input_list

['SAS', 'R', 'PYTHON']

In [156]:
input_list.append("SPARK")
input_list

['SAS', 'R', 'PYTHON', 'SPARK']

In [157]:
ap = ['Pythons syntax is easy to learn', 'Pythons syntax is very clear'] 
ap

['Pythons syntax is easy to learn', 'Pythons syntax is very clear']

In [158]:
" ".join(str(x) for x in ap)

'Pythons syntax is easy to learn Pythons syntax is very clear'

In [159]:
" & ".join(str(x) for x in ap)

'Pythons syntax is easy to learn & Pythons syntax is very clear'

In [160]:
ap = ['Pythons syntax is easy to learn', 'Pythons syntax is very clear'] 
str(ap)
ap

['Pythons syntax is easy to learn', 'Pythons syntax is very clear']

In [161]:
input_list =  [['SAS','R'],['Tableau','SQL'],['Python','Java']]
input_list[2][0]

'Python'

# SETS

In [162]:
l = [1,2,3,4,5]

set_l = set(l)

set_l

{1, 2, 3, 4, 5}

In [163]:
set_l.add("INDIA")
set_l

{1, 2, 3, 4, 5, 'INDIA'}

In [164]:
set_l.remove("INDIA")
set_l

{1, 2, 3, 4, 5}

In [168]:
Grades = {'A', 'A', 'B', 'C', 'D', 'B', 'B', 'C', 'D', 'E', 'C', 'C', 'A', 'B', 'F', 'D', 'C', 

          'B', 'C', 'A', 'B', 'F', 'B', 'A', 'E', 'B', 'B', 'C', 'D'}

Grades

{'A', 'B', 'C', 'D', 'E', 'F'}

In [167]:
basket = {'apple', 'orange', 'apple', 'pear', 'orange', 'banana'}
print(basket)                      # show that duplicates have been removed

{'orange', 'banana', 'pear', 'apple'}

In [169]:
'orange' in basket                 # fast membership testing

True

In [170]:
'crabgrass' in basket

False

In [171]:
>>> # Demonstrate set operations on unique letters from two words
...
>>> a = set('abracadabra')
>>> b = set('alacazam')
>>> a                                  # unique letters in a

{'a', 'b', 'c', 'd', 'r'}

In [172]:
a - b                              # letters in a but not in b

{'b', 'd', 'r'}

In [173]:
a | b                              # letters in a or b or both #union

{'a', 'b', 'c', 'd', 'l', 'm', 'r', 'z'}

In [174]:
a & b                              # letters in both a and b

{'a', 'c'}

In [175]:
 a ^ b                              # letters in a or b but not both

{'b', 'd', 'l', 'm', 'r', 'z'}

In [176]:
a = {x for x in 'abracadabra' if x not in 'abc'}
a

{'d', 'r'}

In [177]:
A = {0,2,4,6,8}

B = {1,2,3,4,5}

In [178]:
A.union(B)

{0, 1, 2, 3, 4, 5, 6, 8}

In [179]:
A.intersection(B)

{2, 4}

In [180]:
A.difference(B)

{0, 6, 8}

In [181]:
A^B

{0, 1, 3, 5, 6, 8}

In [182]:
nums = set([1,1,2,3,3,3,4])
print(len(nums))

4

In [184]:
A = {5,1,3,4,4,5,6,7}

B = {3,3,5,5, 1 ,7 ,2}

A.intersection(B)

{1, 3, 5, 7}

# Dictionaries

In [195]:
dict_1 = {"Python'':40, "R'':45}
del dict_1['R']
dict_1['R'] = 4127
dict_1

KeyError: 'R'

In [193]:
d = {'Python':40, 'R':45}
print(list(d.keys()))

['Python', 'R']

In [194]:
input_dict={'Name': 'Monty', 'Profession': 'Singer' }
input_dict

{'Name': 'Monty', 'Profession': 'Singer'}

In [196]:
input_dict["Name"]

'Monty'

In [197]:
input_dict["Label"]

KeyError: 'Label'

In [198]:
Employee_data = { 101:['Shiva', 24, 'Content Strategist'] ,102:['Udit',25,'Content Strategist'], 103:['Sonam', 28,'Sr Manager'], 104:['Ansari',29,'Product Lead' ],105:['Huzefa',32,'Project Manager' ]}

In [199]:
Employee_data

{101: ['Shiva', 24, 'Content Strategist'],
 102: ['Udit', 25, 'Content Strategist'],
 103: ['Sonam', 28, 'Sr Manager'],
 104: ['Ansari', 29, 'Product Lead'],
 105: ['Huzefa', 32, 'Project Manager']}

In [200]:
Employee_data[104]

['Ansari', 29, 'Product Lead']

In [201]:
Employee_data[104][2]

'Product Lead'

In [202]:
input_dict = { 101:['Shiva', 24, 'Content Strategist'] ,102:['Udit',25,'Content Strategist'], 103:['Sonam', 28,'Sr Manager'], 104:['Ansari',29,'Product Lead' ],105:['Huzefa',32,'Project Manager' ]}
Employee_list = list( input_dict[104])
profession = Employee_list[2]
print(profession)

Product Lead

In [203]:
input_dict = {'Name': 'Monty', 'Profession': 'Singer' }
input_dict.get('Label', 'NA')

'NA'

In [204]:
input_dict = {'Jack Dorsey' : 'Twitter' , 'Tim Cook' : 'Apple','Jeff Bezos' : 'Amazon' ,'Mukesh Ambani' : 'RJIO'}
input_dict

{'Jack Dorsey': 'Twitter',
 'Tim Cook': 'Apple',
 'Jeff Bezos': 'Amazon',
 'Mukesh Ambani': 'RJIO'}

In [205]:
print(sorted(input_dict.keys()))

['Jack Dorsey', 'Jeff Bezos', 'Mukesh Ambani', 'Tim Cook']

In [207]:
print(sorted(input_dict.items()))

[('Jack Dorsey', 'Twitter'), ('Jeff Bezos', 'Amazon'), ('Mukesh Ambani', 'RJIO'), ('Tim Cook', 'Apple')]

In [209]:
print(sorted(input_dict.values()))

['Amazon', 'Apple', 'RJIO', 'Twitter']